body {
    margin: 0 auto;
    padding: 0 0;
    font-family: Poppins-regular;
}

.nav-bar {
    background: rgb(86, 171, 47);
    background: linear-gradient(90deg, rgba(86, 171, 47, 1) 0%, rgba(86, 171, 47, 1) 20%, rgba(255, 255, 255, 1) 20%);
    height: 120px;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.nav-header {
    max-width: 1280px;
    height: 120px;
    background-image: url('../img/Path\ 10.png');
    background-repeat: repeat-y;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    margin-top: 20px;
}

.nav img {
    width: 70px;
    height: 70px;
}

.nav-menu {
    width: 25%;
}

.nav .nav-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

ul.nav-list li a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
}
ul.nav-list li a i {
    padding: 0 5px;
}
.dropdown {
    display: none;
}

ul.nav-list li:hover .dropdown{
    display: block;
    position: absolute;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #b7b4b4;
    width: 140px;
    overflow: hidden;
}
.dropdown ul:hover{
    display: block;
}
ul.nav-list li:hover .dropdown ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.nav-list li:hover .dropdown ul li span {
    color: #ffffff;
    background-color: #6bb83c;
    font-family: Poppins-regular;
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin-top: -14px;
}

ul.nav-list li:hover .dropdown ul li a {
    padding: 10px 10px;
    display: block;

}
ul.nav-list li:hover .dropdown ul li a:hover{
    background-color: #a8de7c;
    padding: 10px 10px;
}
.footer {
    margin-top: 124px;
    background-image: linear-gradient(to right top, #56ab2f, #6bb83c, #80c549, #94d356, #a8e063);
    border-radius: 0 0 0 0;
}

.footer-nav {
    position: relative;
    top: -47px;
}

.footer-icon {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 40px;
}

.footer-icon div {
    width: 94px;
    height: 94px;
    background-color: #50982C;
    border-radius: 50%;
}

.footer-icon img {
    width: 60px;
    height: 60px;
    align-items: center;
    margin-top: 20px;
    margin-left: 16px;
}

.footer-menu {
    padding-bottom: 64px;
    border-radius: 0 0 0 0;
    background: rgba(4, 41, 14, 0.14);
    display: flex;
    -webkit-box-shadow: -1px 0px 27px -7px rgba(29, 69, 4, 1);
    -moz-box-shadow: -1px 0px 27px -7px rgba(29, 69, 4, 1);
    box-shadow: 0px 3px 15px -10px rgb(29 69 4);
}

.footer-tab {
    width: 33.33%;
    margin-top: 64px;
    margin-left: 25px;
    margin-right: 10px;
    font-family: Poppins-regular;
    font-size: 20px;
    color: #ffffff;
}

.footer-tab ul li i:after {
    content: " ";
    margin-left: 10px;
}

.footer-tab ul li {
    margin-top: 20px;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
}

.footer p {
    margin-top: 64px;
    display: block;
    text-align: center;
    font-family: Poppins-regular;
    font-size: 15px;
    color: #ffffff;
}


/* ----------------------------------------------------------------------------------------------- */

ul.breadcrumb {
    margin-top: 64px;
    display: flex;
    margin-bottom: 64px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "> ";
}

ul.breadcrumb li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-family: Poppins-regular;
}

ul.breadcrumb li.salecars {
    font-family: Poppins-regular;
    font-size: 18px;
    color: #50982C;
    display: inline-block;
}

/* --------------------------------------------------------------------------------------------- */
.sales {
    width: 100%;
    border-radius: 0 167px 0 167px;
    border: 0 solid #DDE4DE;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.16);
    padding-bottom: 64px;
    margin: 0 auto;

}

.sales .form-title {

    text-align: center;
    position: relative;
}

.sales h3 {
    font-size: 24px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    margin-top: 35px;right: 42%;
}

.sales h3::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-top: 3px solid #4B821E;
    border-left: 3px solid #4B821E;
    position: absolute;
    top: 0;
    left: 0;
}

.sales h3::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-right: 3px solid #4B821E;
    border-bottom: 3px solid #4B821E;
    position: absolute;
    bottom: 0;
    right: 0;
}


.sales .form-title .border {
    width: 15px;
    height: 12px;
    position: absolute;
    left: 822px;
    top: 352px;
}

.sales img {
    position: absolute;
    left: 43%;
    margin-top: 10px;
    z-index: -1;
}

form {
    margin: 0 auto;
    width: 80%;
    padding-top: 128px;
}

label {
    font-family: Poppins-regular;
    font-size: 18px;
    width: 20%;
    display: inline-block;
    text-align: right;
}

input[type=text],
input[type=number],
select {
    width: 70%;
    padding: 12px 20px;
    margin: 20px 15px;
    display: inline-block;
    border: 1px solid #DDE4DE;
    border-radius: 15px;
    box-sizing: border-box;
    font-family: Poppins-regular;
    font-size: 18px;
    color: #B3BEB9;
}

input::placeholder {
    color: #B3BEB9;
}

input[type=submit] {
    width: 40%;
    background-color: #83CB48;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: Poppins-regular;
    font-size: 18px;
}

input[type=submit]:hover {
    background-color: #4B821E;
}

.row-submit {
    margin-left: 100px;
    margin-top: 20px;
}

.row-submit input {
    margin: 0 10px;
    color: #ffffff;
}

.row-submit .back {
    background-color: #CEDFD6;
    color: #000000;
}

.row-submit .back:hover {
    background-color: #A1BEAF;
}