body {
    margin: 0 auto;
    padding: 0 0;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.nav-bar {
    background: rgb(86, 171, 47);
    /* height: 120px; */
}

.container {
    width: 1150px;
    margin: 0 auto;
}

.nav-header {
    background-image: url('../img/Path\ 10.png');
    background-repeat: no-repeat;
    height: 120px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav img {
    width: 70px;
    height: 70px;
}

.nav-menu {
    width: 25%;
    z-index: 1;
}

.nav .nav-list {
    display: flex;
    justify-content: space-between;
}

ul.nav-list li a {
    text-decoration: none;
    color: #f9f2f2;
    font-size: 17px;
}

ul.nav-list li a i {
    padding: 0 5px;
}

.dropdown {
    display: none;
}

ul.nav-list li:hover .dropdown {
    display: block;
    position: absolute;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #b7b4b4;
    width: 140px;
    overflow: hidden;
}

.dropdown ul:hover {
    display: block;
}

ul.nav-list li:hover .dropdown ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.nav-list li:hover .dropdown ul li span {
    color: #ffffff;
    background-color: #6bb83c;
    font-family: Poppins-regular;
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin-top: -14px;
}

ul.nav-list li:hover .dropdown ul li a {
    padding: 10px 10px;
    display: block;
    color: #000000;

}

ul.nav-list li:hover .dropdown ul li a:hover {
    background-color: #a8de7c;
    padding: 10px 10px;
}

.footer {
    margin-top: 124px;
    background-image: linear-gradient(to right top, #56ab2f, #6bb83c, #80c549, #94d356, #a8e063);
    border-radius: 0 0 0 0;
}

.footer-nav {
    position: relative;
    top: -47px;
}

.footer-icon {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-bottom: 40px;
}

.footer-icon div {
    width: 94px;
    height: 94px;
    background-color: #50982C;
    border-radius: 50%;
}

.footer-icon img {
    width: 60px;
    height: 60px;
    align-items: center;
    margin-top: 20px;
    margin-left: 16px;
}

.footer-menu {
    padding-bottom: 64px;
    border-radius: 0 0 0 0;
    background: rgba(4, 41, 14, 0.14);
    display: flex;
    -webkit-box-shadow: -1px 0px 27px -7px rgba(29, 69, 4, 1);
    -moz-box-shadow: -1px 0px 27px -7px rgba(29, 69, 4, 1);
    box-shadow: 0px 3px 15px -10px rgb(29 69 4);
}

.footer-tab {
    width: 33.33%;
    margin-top: 64px;
    margin-left: 25px;
    margin-right: 10px;
    font-size: 20px;
    color: #ffffff;
}

.footer-tab ul li i:after {
    content: " ";
    margin-left: 10px;
}

.footer-tab ul li {
    margin-top: 20px;
    font-size: 15px;
    line-height: 40px;
}

.footer-tab ul li a {
    text-decoration: none;
    color: #ffffff;

}

.footer-tab ul li img {
    transition: transform 250ms;
}

.footer-tab ul li img:hover {
    transform: translateY(-10px);
}

.footer p {
    margin-top: 64px;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
}

/* ------------------------------------------------------------------------------------------------- */
.header {
    background: url('../img/Sign-up.png') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
}

.sign-in-form {
    width: 50%;
    position: absolute;
    left: 26%;
    top: 5%;
}

.sign-in-form img {
    width: 70px;
    height: 70px;
    position: relative;
    top: 0;
    left: 47%;
}

.sign-in-form form {
    padding-top: 0;
}

.sign-in-form input[type=submit] {
    margin-left: 32%;
    margin-top: 2%;
}

.sign-in-form .row-spans {
    margin-top: 30px;
    text-align: center;
}

.sign-in-form .row-span {
    display: block;
    text-align: center;
    margin: 10px 0;
}

.sign-in-form .row-span span {
    display: block;
}

.sign-in-form span a {
    text-decoration: none;
    color: #4B821E;
}

.sign-in-form span a:hover {
    color: #56ab2f;
}

.sign-in-form .row-img {
    margin-left: -12%;
}

.sign-in-form .row-img img {
    margin: 10px 8px;
    width: 70px;
    height: 70px;
    transition: transform 250ms;
}

.sign-in-form .row-img img:hover {
    transform: translateY(-10px);

}

.sign-in-form .row-img .facebook {
    width: 80px;
    height: 80px;
}

.label {
    padding-left: 23%;
    font-size: 15px;
    width: auto;
}

.labelr:hover input~.checkmark {
    background-color: #ccc;
}

.label container input:checked~.checkmark {
    background-color: #2196F3;
}

.sign-in-form .span-password {
    line-height: 25px;
}

/* ----------------------------------------------------------------------------------------------- */

ul.breadcrumb {
    margin-top: 64px;
    display: flex;
    margin-bottom: 64px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "> ";
}

ul.breadcrumb li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

ul.breadcrumb li.salecars {
    font-size: 18px;
    color: #50982C;
    display: inline-block;
}

/* --------------------------------------------------------------------------------------------- */
.form {
    width: 100%;
    border-radius: 0 167px 0 167px;
    border: 0 solid #DDE4DE;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.16);
    padding-bottom: 64px;
    margin: 0 auto;

}

.form .form-title {

    text-align: center;
    position: relative;
}

.form h3 {
    font-size: 24px;
    padding: 10px;
    display: inline-block;
    position: absolute;
    margin-top: 65px;
    right: 42%;
}

.form h3::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-top: 3px solid #4B821E;
    border-left: 3px solid #4B821E;
    position: absolute;
    top: 0;
    left: 0;
}

.form h3::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-right: 3px solid #4B821E;
    border-bottom: 3px solid #4B821E;
    position: absolute;
    bottom: 0;
    right: 0;
}


.form .form-title .border {
    width: 15px;
    height: 12px;
    position: absolute;
    left: 822px;
    top: 352px;
}

.form img {
    position: absolute;
    left: 43%;
    margin-top: 44px;
    z-index: -1;
}

form {
    margin: 0 auto;
    width: 80%;
    padding-top: 128px;
}

label {
    font-size: 15px;
    display: inline-block;
    text-align: right;
    padding: 5px 2px;
}

select {
    font-size: 15px;
    padding: 15px 20px;
    border-color: #A1BEAF;
    appearance: none;
    color: #000000;
}

.custom-select {
    position: relative;
    margin: 15px 0;
}

.custom-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 30px;
    height: 100%;
    pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 62%;
}

.custom-arrow::before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000000;
}

input::placeholder {
    color: #B3BEB9;
}

select:required:invalid {
    color: #B3BEB9;
}

input[type=text],
input[type=number],
input[type=password] {
    padding: 15px 20px;
    display: block;
    border: 1px solid#A1BEAF;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
    color: #000000;
    width: 100%;
}

input[type=submit] {
    width: 40%;
    background-color: #83CB48;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #4B821E;
    transition: 1.5s;
}

.row-submit {
    margin-left: 100px;
    margin-top: 20px;
}

.row-submit input {
    margin: 0 10px;
    color: #ffffff;
}

.row-submit .back {
    background-color: #CEDFD6;
    color: #000000;
}

.row-submit .back:hover {
    background-color: #A1BEAF;
}


/* --------------------------------------------------------------------------------------------- */
.slideshow {
    width: 100%;
}

.mySlides img {
    width: 100%;
    border-radius: 10px;
}

.m-detail {
    width: 100%;
    margin-top: 64px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.16);
    padding-bottom: 64px;
    border-radius: 10px;
}

.m-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f1ecec;
}

.m-title span {
    padding: 20px 35px;
}

.m-price {
    color: #f03535;
}

.m-data {
    width: 80%;
    margin: 0 auto;
}

.m-data .m-list {
    margin-top: 64px;
}

.m-list ul li {
    padding: 15px 0;
}

.m-list ul li i {
    color: #4B821E;
}

.m-list ul li p {
    padding: 0 10px;
    display: inline-block;
    width: 30%;
}

.m-list ul li span {
    padding: 0 50px;
}

h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

h3 {
    font-size: 16px;
    padding: 15px 35px;
    /* border-bottom: 1px solid #f1ecec; */

}

.m-slide {
    padding: 10px 28px;
}

.m-slide-img {
    overflow: hidden;
    margin: 0 10px;
}

.m-slide-img img {
    width: 100%;
}

.m-slide-img span {
    margin-top: 3%;
    display: block;
    text-align: center;
}

.list {
    padding-bottom: 20px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3 ease in out;
    background-color: #ffffff;
    display: block;
}

/* ------------------------------------------------------------------------------------- */
.search {
    background-color: #4B821E;
    background-size: cover;
    background-position: center center;
    padding-bottom: 30px;
}

.search-box {
    width: 100%;
}

.search-box form {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.search-box form label {
    width: auto;
}

.search-box a {
    padding: 15px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff;
    margin-top: 4px;
    display: block;
    width: 88%;
    text-align: center;

}

.search-box a:hover {
    background-color: #2c670e;
    transition: 1s;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.search-box select:required:invalid {
    color: #000000;
}

.search-box div.row {
    width: 40%;
    margin: 0 10px;
}

.search-box input[type=text],
input[type=number],
select {
    width: 100%;
    border-radius: 10px;
    margin: 5px 0;
}

.car-sale-properties {
    width: 100%;
    padding-bottom: 32px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.16);
    margin: 64px 0;

}

.c-slide {
    padding: 10px 10px;
}

.c-slide .c-slide-img {
    overflow: hidden;
    margin: 0 10px;
}

.c-slide-img span {
    display: inline-block;
    padding: 10px 10px;
    color: #4B821E;

}

.c-slide-img img {
    width: 100%;
    padding-top: 10px;

}

.price {
    display: flex;
    justify-content: space-between;
}

.c-slide-img span i::after {
    content: "";
    padding-left: 10px;
}

.c-slide-img span i {
    color: #4B821E;
}

.price a {
    padding: 10px 15px;
    border-radius: 15px;
    border: 1px solid #ffffff;
    background-color: #a3df87;
    transition: 1s;

}

.price a:hover {
    background-color: #4B821E;
}

.price a {
    text-decoration: none;
    color: #4B821E;
}

.price a:hover {
    color: #ffffff;
}



/* --------------------------------------------------------------------------------------- */
@media only screen and (max-width:767px) {
    body {
        font-size: 3vw;
    }

    .header {
        background-image: url("../img/signup-mobile\ –\ 1.png");
        width: 100%;
    }

    .sign-in-form img {
        width: 30%;
        height: 30%;
        top: 0;
        left: 35%;
    }

    label {
        font-size: 3vw;
        width: auto;
    }

    input[type=text],
    input[type=number],
    input[type=password],
    input[type=submit],
    select {
        width: 100%;
        padding: 7px 10px;
        border-radius: 10px;
        font-size: 3vw;
        margin: 8px 0px;
    }

    .sign-in-form {
        top: 15%;
    }

    .sign-in-form form {
        width: 100%;
    }

    .sign-in-form input[type=submit] {
        width: 100%;
        padding: 7px 0;
        border-radius: 10px;
        font-size: 3vw;
        margin-left: 0;
    }

    .sign-in-form .row-spans {
        margin-top: 5%;
        font-size: 2vw;
    }

    .sign-in-form .row-spans span {
        font-size: 2vw;
    }

    .sign-in-form .row-img {
        margin-left: -32%;
    }

    .sign-in-form .row-img img {
        width: 20%;
        height: 20%;
    }

    .label {
        padding-left: 0;
        font-size: 2vw;
    }

    .sign-in-form span a {
        font-size: 2vw;
    }

    .sign-in-form .span-password {
        line-height: 20px;
    }

    .container {
        width: 85%;
        margin: 0 auto;
    }

    .nav-header {
        width: 100%;
        background-image: url('../img/logo_01.png');
        height: 45px;
    }

    .nav img {
        width: 15%;
        height: 15%;
    }

    .hamburger {
        display: block;
        margin-left: 70%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px)rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px)rotate(-45deg);
    }

    .nav .nav-list {
        position: fixed;
        /* left: -100%; */
        top: -100%;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        transition: 0.3s;
        opacity: 0.8;
        margin-top: 44px;
    }

    .nav-item {
        padding: 10px 0;
        border-bottom: 1px solid #ffffff;

    }

    .nav .nav-list.active {
        left: 0;
        top: 0;
    }

    .nav .nav-list li:hover .dropdown {
        background-color: transparent;
    }

    ul.nav-list li:hover .dropdown {
        width: 100%;
        border-radius: 0;
        box-shadow: 0 0 0 0;
        position: relative;
    }

    ul.nav-list li:hover .dropdown ul li {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul.nav-list li:hover .dropdown ul li span {
        font-size: 3vw;
        background-color: #000000;
        width: auto;
        margin-top: 2%;
        padding: 10px 25px;
    }

    ul.nav-list li a {
        font-size: 3vw;
        padding: 0 15px;

    }

    ul.nav-list li:hover .dropdown ul li a {
        font-size: 3vw;
        color: #ffffff;
        padding: 10px 25px;
    }

    ul.breadcrumb {
        margin-top: 32px;
        margin-bottom: 32px;
        align-items: baseline;
    }

    ul.breadcrumb li.salecars {
        font-size: 3vw;
    }

    ul.breadcrumb li a {
        font-size: 3vw;
    }

    .form {
        border-radius: 0 50px 0 50px;
    }

    .form h3 {
        font-size: 3vw;
    }

    .form h3:before {
        width: 10px;
        height: 10px;
    }

    .form h3:after {
        width: 10px;
        height: 10px;
    }

    .form img {
        width: 16%;
        margin-top: 4%;
        left: 29%;
    }

    form {
        padding-top: 25%;
    }

    .row-submit {
        margin-left: 0;
        margin-top: 0;
    }

    .row-submit input {
        width: 30%;
        margin-left: 12%;
    }

    .custom-arrow::before {
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 3px solid #000000;
    }

    .custom-arrow::before,
    .custom-arrow::after {
        top: 64%;
    }

    .footer-icon {
        width: 50%;
    }

    .footer-icon div {
        width: 50px;
        height: 50px;
    }

    .footer-icon img {
        width: 30px;
        height: 30px;
        margin-top: 11px;
        margin-left: 11px;
    }

    .footer-nav {
        top: -27px;
    }

    .footer-menu {
        display: block;
    }

    .footer-tab {
        width: 50%;
        padding-top: 7%;
        margin-top: 0;

    }

    h3 {
        font-size: 4vw;
        padding: 10px 0;
    }

    .footer-tab ul li {
        font-size: 3vw;
        margin-top: 0;
        line-height: 35px;
    }

    .footer p {
        margin-top: 32px;
        font-size: 3vw;
    }

    .footer-tab ul li img {
        margin: -16px 0;
    }

    .footer-tab ul li .google {
        margin-top: 10px;
    }

    .footer {
        margin-top: 64px;
    }

    .m-title span {
        font-size: 3vw;
        padding: 20px 12px;
    }

    h4 {
        font-size: 4vw;
    }

    .m-list ul li p {
        font-size: 3vw;
    }

    .m-list ul li span {
        font-size: 3vw;
        padding: 0 10px;
    }

    .m-slide-img span {
        font-size: 3vw;
    }

    .m-detail h3 {
        padding: 15px 39px;
    }

    .search-box form {
        display: block;
    }

    .search-box div.row {
        width: 100%;
    }

    .search-box a {
        padding: 10px 20px;
        width: auto;
        font-size: 3vw;
    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 90%;
    }

    .nav-header {
        background-image: url('../img/tablet-logo.png');
        background-repeat: no-repeat;
        height: 120px;
    }

    .nav-menu {
        width: 45%;
    }

    .form img {
        left: 32%;
    }

    form {
        width: 90%;
    }

    .footer-icon {
        width: 50%;
    }

    .footer-tab {
        margin-left: 0;
        margin-right: 0;
        padding: 0 14px;
        width: 100%;
    }

    .footer-tab ul li {
        font-size: 2vw;
    }

    .header {
        background-image: url("../img/tablet_01.png");
        width: 100%;
    }

    .sign-in-form img {
        left: 40%;
    }

    .sign-in-form input[type=text],
    input[type=number],
    input[type=password] {
        width: 100%;
        padding: 15px 10px;
        font-size: 3vw;
    }

    .sign-in-form {
        top: 15%;
    }

    .sign-in-form label {
        width: auto;
        font-size: 3vw;
    }

    .sign-in-form .row-img {
        margin-left: -23%;
    }

    .sign-in-form .label {
        padding-left: 0;
        font-size: 2vw;
    }

    .sign-in-form input[type=submit] {
        margin-top: 7%;
        font-size: 3vw;
    }

    .sign-in-form .span-password {
        line-height: 37px;
        font-size: 3vw;
        display: block;
        padding-bottom: 20px;
        padding-left: 18px;
    }
}